<data>

 
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">Project</legend>
      </div>
  
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Project Name</label>
          <div class="controls">
            <input type="text" placeholder="Please Input Project Name" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    

    

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">Release</label>
          <div class="controls">
            <select class="input-xlarge">
      <option>Enter</option>
      <option>Your</option>
      <option>Options</option>
      <option>Here!</option></select>
          </div>

        </div><div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Customer</label>
          <div class="controls">
            <input type="text" placeholder="Please Input Customer Name" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Version</label>
          <div class="controls">
            <input type="text" placeholder="Please Input Version" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div><div class="control-group">

          <!-- Textarea -->
          <label class="control-label">Note</label>
          <div class="controls">
            <div class="textarea">
                  <textarea type="" class=""> </textarea>
            </div>
          </div>
        </div>

    

    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">Save</button>
          </div>
        </div>

    

    

    </fieldset>
  </form>

</data>
